[submodule "coronavirus-data-sources"]
	path = coronavirus-data-sources
	url = git@github.com:lazd/coronavirus-data-sources
[submodule "coronadatascraper"]
	path = coronadatascraper
	url = git@github.com:lazd/coronadatascraper.git
	branch = gh-pages
