:root {
	--gt-component-background-color: rgb(60, 60, 60);
	--gt-component-background-color-hover: rgb(75, 75, 75);
	--gt-component-background-color-focus: var(--gt-component-background-color-hover);
	--gt-component-text-color: rgba(200, 200, 200, 0.65);

	--gt-component-height: 38px;
	--gt-component-margin: 8px;
	--gt-component-padding-x: 14px;
	--gt-component-padding-y: 10px;
	--gt-component-font-size: 16px;
	--gt-component-border-radius: 4px;

	--gt-component-focus-color: rgb(38, 128, 235);
	--gt-component-focus-width: 3px;
	--gt-component-focus-blur: 1px;

	--gt-component-shadow-color: rgba(20, 20, 20, 0.25);
	--gt-component-shadow-width: 2px;
	--gt-component-shadow-blur: 4px;

	--gt-layer-padding: 6px;

	--gt-slider-thumb-height: 24px;
	--gt-slider-thumb-width: var(--gt-slider-thumb-height);
	--gt-slider-thumb-border-radius: 100%;
	--gt-slider-track-height: 12px;
	--gt-slider-thumb-outline-color: rgb(0, 0, 0);
	--gt-slider-thumb-outline-width: 3px;
}

* {
	box-sizing: border-box;
}

html {
	overflow: hidden;

	/* prevent doubletap from zooming */
	touch-action: manipulation;
}

body {
	margin: 0;
}

.gt_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;

	user-select: none;

	font-family: Helvetica, sans-serif;
}

/* Prevent overflow due to canvas acting as inline */
.gt_canvas {
	display: block;

	cursor: crosshair;
}

.gt_output,
.gt_select select,
.gt_button,
.gt_datePicker,
.gt_input {
	display: inline-block; /* Stack horizontally like text */
	position: relative; /* Position the :before pseudo-element relative to us */
	vertical-align: top; /* Line up correctly with buttons */

	height: var(--gt-component-height);
	margin: var(--gt-component-margin);
	padding: var(--gt-component-padding-y) var(--gt-component-padding-x);

	border: none;
	border-radius: var(--gt-component-border-radius);
	background-color: var(--gt-component-background-color);

  box-shadow: 0 0 var(--gt-component-shadow-blur) var(--gt-component-shadow-width) var(--gt-component-shadow-color);

	font-family: Helvetica, sans-serif;
	font-size: var(--gt-component-font-size);
	text-align: center;
	color: var(--gt-component-text-color);
	text-shadow: 0 -1px 0 rgba(0, 0, 0 ,0.25);

	&[hidden] {
		display: none;
	}
}

.gt_button {
	&.is_selected {
		color: rgb(43, 116, 224);
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	}
}

.gt_input {
	text-align: left;
	cursor: text;
}

.gt_datePicker {
	flex-shrink: 0;
	appearance: none;
	padding-right: 0;

	text-align: center;
	width: 140px;

	&::-webkit-inner-spin-button,
	&::-webkit-clear-button {
		display: none;
	}
	&::-webkit-calendar-picker-indicator {
		display: block;
		visibility: visible;
		background: transparent;
	}
}

.gt_select select,
.gt_button,
.gt_datePicker,
.gt_input {
	&:hover {
		background-color: var(--gt-component-background-color-hover);
	}

	&:focus {
		outline: none;
		background-color: var(--gt-component-background-color-focus);
		box-shadow: 0 0 var(--gt-component-focus-blur) var(--gt-component-focus-width) var(--gt-component-focus-color);
	}
}

.gt_select {
	position: relative;

	select {
		margin: 0;
		height: 100%;
		appearance: none;
		padding-right: 40px;
	}

	.gt_icon {
		display: block;
		position: absolute;
		top: 6px;
		right: 10px;

		color: rgb(120, 120, 120);
		font-size: 30px;
		text-shadow: 0 -1px 0 rgba(0, 0, 0 ,0.25);

		pointer-events: none; /* Let mouse clicks pass through */
	}
}

.gt_slider {
	width: 100%; /* Specific width is required for Firefox. */
	margin: var(--gt-component-margin);

	background: transparent; /* Otherwise white in Chrome */

	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */

	&:focus {
		outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
	}

	&::-webkit-slider-thumb {
		height: var(--gt-slider-thumb-height);
		width: var(--gt-slider-thumb-width);

		margin-top: calc(var(--gt-slider-thumb-height) / -2 + var(--gt-slider-track-height) / 2);

		border-radius: var(--gt-slider-thumb-border-radius);

		background-color: var(--gt-component-background-color);
		border: var(--gt-slider-thumb-outline-width) solid var(--gt-slider-thumb-outline-color);

		box-shadow: 0 0 var(--gt-component-shadow-blur) var(--gt-component-shadow-width) var(--gt-component-shadow-color);

		cursor: pointer;
		-webkit-appearance: none;
	}

	&::-webkit-slider-runnable-track {
		width: 100%;
		height: var(--gt-slider-track-height);

		background-color: var(--gt-component-background-color);

		border-radius: var(--gt-slider-track-height);
		box-shadow: 0 0 var(--gt-component-shadow-blur) var(--gt-component-shadow-width) var(--gt-component-shadow-color);

		cursor: pointer;
	}

	&:hover {
		&::-webkit-slider-thumb {
			background-color: var(--gt-component-background-color-hover);
		}
		&::-webkit-slider-runnable-track {
			background-color: var(--gt-component-background-color-hover);
		}
	}

	&:focus {
		&::-webkit-slider-thumb {
			border-color: var(--gt-component-focus-color);
		}

		&::-webkit-slider-runnable-track {
			background-color: var(--gt-component-background-color-focus);
		}
	}
}

.gt_link {
	&, &:visited {
		color: var(--gt-component-text-color);
	}
}

.gt_layer {
	z-index: 1; /* Position below overlays */
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	padding: var(--gt-layer-padding);

	&[hidden] {
		display: none;
	}
}

.gt_layer--top {
	position: absolute;
	bottom: auto;
	top: 0;
}

.gt_layer--right {
	left: auto;
	right: 0;
}

.gt_layer--bottom {
	top: auto;
	bottom: 0;
}

.gt_layer--left {
	right: auto;
	left: 0;
}

.gt_layer--middle {
	left: 0;
	right: 0;
}

.gt_layer--full {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.gt_output {
	height: auto;
	min-height: var(--gt-component-height);
}

.gt_count {
	font-weight: bold;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

.gt_select .gt_typeSelect {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

.gt_overlay {
	/* Fill the parent positioned-relative element */
	position: absolute;
	z-index: 2; /* Position above output */
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background: rgba(0, 0, 0, 0.5);

  transition: transform 250ms ease-in-out,
            opacity 250ms ease-in-out,
            visibility 0ms linear 250ms;

	opacity: 0;
  visibility: hidden;

  pointer-events: none;

	&.is-open {
	  visibility: visible;

	  opacity: 1;

	  transition-delay: 0ms;

	  pointer-events: auto;
	}
}

.gt_overlay--loading {
	pointer-events: none; /* Let mouse clicks pass through */
}

/*
Style placeholder text
Via http://css-tricks.com/snippets/css/style-placeholder-text/
*/
.gt_input::-webkit-input-placeholder {
	 opacity: 0.35;
}

.gt_input:-moz-placeholder {
	 opacity: 0.35;
}

.gt_input::-moz-placeholder {
	 opacity: 0.35;
}

.gt_search > .gt_input {
	color: rgba(200, 200, 200, 0.575);
}

.gt_logo {
	border-radius: 8px;
}

.gt_loading {
	-webkit-animation: gt_rotate 1.75s linear infinite;
}

.gt_loading {
	display: block;

	text-align: center;
	color: rgba(100, 100, 100, 0.75);
	font-size: 200px;

	opacity: 0.5;

	text-shadow: 0 0 5px solid rgba(0,0,0,0.5);
}

.gt_loading,
.gt_paused {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
}

.gt_button,
.gt_paused {
	cursor: pointer;
	pointer-events: auto;
}

.gt_paused:after {
	content: '‣';
	display: block;
	position: absolute;

	margin: 50px;
	width: 100px;
	height: 100px;
	font-size: 200px;
	line-height: 114px;

	color: rgba(100, 100, 100, 0.75);

	border-radius: 100px;
	background-color: rgba(60, 60, 60, 0.7);
	text-align: center;

	text-shadow: 0 0 5px solid rgba(0,0,0,0.5);
}

.gt_paused:before {
	right: 0;
}

.gt_paused:after {
	left: 0;
}

.gt_detailLayer {
	pointer-events: none;
}

.gt_dataTable {
	display: flex;
	flex-direction: column;
}

.gt_dataTable-row {
	display: flex;
	flex-direction: row;

	dt {
		margin: 0;
	}

	dd {
		margin: 0;
	}

	:first-child {
		width: 120px;
		margin-right: 12px;
		text-align: right;
		font-weight: bold;
	}
}

.gt_finePrint {
	width: 275px;
	font-size: 10px;
	text-align: left;
}

/* Keyframes per https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes */
@-webkit-keyframes gt_rotate {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
